<html>
<head>
  <title>User Registration</title>
</head>
<body>
  <h1>Register your account</h1>
  <h2>Your avatar</h2>
<input type="file" id="file-input">
<img id="preview" src="/avatar.png" height="42" width="42">
<form method="POST" action="">
  <input type="hidden" id="avatar-url" name="avatar-url">
  <input type="submit" value="Upload">
</form>
<script>
function uploadFile(file, signedRequest, url){
  const xhr = new XMLHttpRequest();
  xhr.open('PUT',signedRequest);
  xhr.onreadystatechange = ()=>{
    if(xhr.readystate === 4){
      if(xhr.status === 200){
        document.getElementById('preview').src = url;
        document.getElementById('avatar-url').value = url;

      }
      else{
        alert('couldnot upload the file');
      }
    }
  };

  xhr.send(file);
}

function getSignedRequest(file){
  const xhr = new XMLHttpRequest();
  xhr.open('GET', 'sign-s3?file-name='+file.name+'&file-type='+file.type);
  xhr.onreadystatechange = () =>
  {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        const response = JSON.parse(xhr.responseText);
        uploadFile(file, response.signedRequest, response.url)
      }
      else{
        alert('could not get signed url');
      }
    }
  };
  xhr.send();
}

document.getElementById('file-input').onchange = function(){
  const files =   document.getElementById('file-input').files;
  const file = files[0];
  if(file == null){
    return al ert('No file selected');

  }
  getSignedRequest(file);
}


</script>
</body>
</html>
