<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Pixel Drop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header text-center">
            <a href="/logout" class="btn btn-primary">Logout</a>
            <div class="row">
                    <h3><span class="fa fa-user"></span> Local</h3>
                          <p>    <strong>Welcome </strong>:<%= user.local.email%><br>
                            <strong>Welcome </strong>:  <%= user._id%><br>  </p>
                              <a href="/showImages" class="btn btn-primary"> View my Files</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".upload-image-modal">Upload</button>
                                <div class="modal fade upload-image-modal" tabindex="-1" role="dialog" aria-labelledby="uploading image modal">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                          <div class ="modal-header">
                                          <button type= "button" class="close" data-dismiss ="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                                          <h4 class="modal-title">Select an image to upload</h4>
                                        </div>
                                        <div class="modal-body">
                                           <input type="file" name="image" id="image-file" style = "padding:5px 10px;" accept="image/*" >
                                           <label>  <input type="checkbox" style="padding:5px 10px 5px 10px;" autocomplete="off"> Encrypt
                                           </label>
                                        </div>
                                        <div class="modal-footer">
                                           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                           <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="getSignedRequest()">Save Image</button>

                                         </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
    <script>
    function getSignedRequest(){
      console.log('I came here');
      const files =  document.getElementById('image-file').files;
      const file = files[0];
      if(file == null){
        return alert('No File Selected');
        }
      else{const xhr = new XMLHttpRequest();
      xhr.open('GET', 'sign-s3?file-name='+file.name+'&file-type='+file.type);
      xhr.onreadystatechange = () =>
      {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.signedRequest, response.url)
          }
          else{
            alert('could not get signed url');
          }
        }
      };
      xhr.send();
        }

}
function uploadFile(file, signedRequest, url){
  const xhr = new XMLHttpRequest();
  xhr.open('PUT',signedRequest);
  xhr.onreadystatechange = ()=>{
    if(xhr.readystate === 4){
      if(xhr.status === 200){
        document.getElementById('preview').src = url;
        document.getElementById('avatar-url').value = url;
      }
      else{
        alert('couldnot upload the file');
      }
    }
  };
  xhr.send(file);
}
      </script>

    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
